@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* View Tickets */
table {
    width: 100%;
}
th {
    background-color: #d3d3d3;

    color: black;
}

th {
    padding: 8px;
}
td {
    margin: 0;
    padding: 0.2em;
}

tr:nth-child(even){
    background-color: #ffffff;
    color: black;
}


*{
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
}

body{
    margin:0;
    color: white;
    background-color: #d3d3d3;

    overflow: auto;
}

option {
    font-size: 50px;
}


footer {
    text-align: center;
    margin: 2em;
    padding: 3px;
}
.ft .content {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .793em;
}
.content {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

}
.ft {
    font-size: 15px;
    background-color: #000;
}

 /*NavBar*/
.navbar .navbar-brand{
    margin-left:10% !important;
}

.navbar-custom {
    background-color: rgba(0,0,0,0.7);
}

div.justified{
    margin: auto;
    display: block;
    max-width: 75%;
}

/*Container*/
.container{
    background-color: rgba(0,0,0,0.7);
}

/*Dashboard*/
#dashboard{
    padding-top: 2.5rem;
    margin-top: 2.5rem;
}

/*Login Page*/
.text-bold{
    font-weight: bold !important;
    text-shadow: 2px 2px 8px black;
}

/*Ticket Form*/
ticket_form{
    max-width: 200px;
}
.fsize-15{
    font-size: 15px
}
.fsize-20{
    font-size: 20px
}
.fsize-30{
    font-size: 30px
}

button.inline{
    padding: 0.2rem;
    display: inline;
}

/*Ticket Comments*/
div.comment-container{
    padding-top: 0.5em;
    background-color: rgba(255,255,255,0.2);
    max-width: 100%;
}
hr.comments{
    margin: 0;
    color: rgba(0,0,0,0);
}
p.time{
    padding-right: 2em;
    text-align: right;
    margin-top: 0;
}
p.author{
    margin: 0;

}

/*Sections*/
#login {
    background-size: cover;
    height: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
#options{
    min-height: 75%;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}
#options-area{
    min-width: 75%;
    width: 100%;
    position: relative;
    z-index: 1;
}
#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}
#login .form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    border-radius: 10px;
}