{% extends 'layout.html.twig' %}
{% block content %}
    <section id="dashboard">
        <div class="container shadow-lg">
            <h1 class="display-4 p-4 text-center text-white">Select an action...</h1>
            <div class="grid-container">
                <div class="item1">
                    <div class="text-center pb-3">
                        <div class="px-2 mt-5 item1 ">
                            <form method="POST" action="create" class="justify-content-center pb-3">
                                <button type="submit" class="btn btn-secondary btn-lg w-100"><i
                                            class="fa-regular fa-square-plus"></i>Create a ticket
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="item2">
                    <div class="text-center pb-3">
                        <div class="px-2 mt-5 ">
                            <form method="POST" action="view" class="justify-content-center">
                                <button type="submit" class="btn btn-secondary btn-lg w-100"><i
                                            class="fa-solid fa-clipboard-list"></i>View Your Tickets
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="item3">
                    <div class="text-center pb-3">
                        <div class="px-2 mt-5 ">
                            <form method="POST" action="knowledge_center" class="justify-content-center">
                                <button type="submit" class="btn btn-secondary btn-lg w-100"><i
                                            class="fa-solid fa-book"></i>Knowledge Center
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="item4">
                    <div class="text-center pb-3">
                        <div class="px-2 mt-5">
                            <form method="POST" action="update_password" class="justify-content-center pb-3">
                                <button type="submit" class="btn btn-secondary btn-lg w-100"><i
                                            class="fa-solid fa-vault"></i>Update Password
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="item5">
                    {# Only visible to support + admin users #}
                    {% if permission == 1 or permission == 2 %}
                        <div class="text-center pb-3">
                            <div class="px-2 mt-5 ">
                                <form method="POST" action="view_all" class="justify-content-center">
                                    <button type="submit" class="btn btn-secondary btn-lg w-100"><i
                                                class="fa-solid fa-database"></i>View All Tickets
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="item6">
                    {# Only visible to admin users #}
                    {% if permission == 2 %}
                        <div class="text-center pb-3">
                            <div class="px-2 mt-5 ">
                                <form method="POST" action="admin" class="justify-content-center">
                                    <button type="submit" class="btn btn-secondary btn-lg w-100"><i
                                                class="fa-regular fa-hard-drive"></i>Admin Panel
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}