{% extends 'layout.html.twig' %}
{% block content %}
    <section id="dashboard">
        <div class="container shadow-lg">
            <h1 class="display-4 p-4 text-center text-white">Select an action...</h1>
            <div class="grid-container">
                    <div class="pb-3 px-2">
                        <form method="POST" action="create" class="">
                            <button type="submit" class="btn btn-secondary btn-lg w-100"><i class="fa-regular fa-square-plus"></i>Create a ticket</button>
                        </form>
                    </div>
                    <div class="pb-3 px-2">
                            <form method="POST" action="view" class="">
                                <button type="submit" class="btn btn-secondary btn-lg w-100"><i class="fa-solid fa-clipboard-list"></i>View Your Tickets</button>
                            </form>
                    </div>
                    <div class="pb-3">
                        <div class="px-2">
                            <form method="POST" action="knowledge_center" class="">
                                <button type="submit" class="btn btn-secondary btn-lg w-100"><i class="fa-solid fa-book"></i>Knowledge Center</button>                               </button>
                            </form>
                        </div>
                    </div>
                {% if permission == 0 %}
                    <div class="pb-3 update">
                        <div class="px-2">
                            <form method="POST" action="update_password" class="">
                                <button type="submit" class="btn btn-secondary btn-lg w-100"><i class="fa-solid fa-vault"></i>Update Password</button>
                            </form>
                        </div>
                    </div>
                {% else %}
                        <div class="pb-3">
                            <div class="px-2">
                                <form method="POST" action="update_password" class="">
                                    <button type="submit" class="btn btn-secondary btn-lg w-100"><i class="fa-solid fa-vault"></i>Update Password</button>
                                </form>
                            </div>
                        </div>
                {% endif %}
                    {# Only visible to support + admin users #}
                    {% if permission == 1 or permission == 2 %}
                        <div class="pb-3">
                            <div class="px-2">
                                <form method="POST" action="view_all" class="">
                                    <button type="submit" class="btn btn-secondary btn-lg w-100"><i class="fa-solid fa-database"></i>View All Tickets</button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                    {# Only visible to admin users #}
                    {% if permission == 2 %}
                        <div class="pb-3">
                            <div class="px-2">
                                <form method="POST" action="admin" class="">
                                    <button type="submit" class="btn btn-secondary btn-lg w-100"><i class="fa-regular fa-hard-drive"></i>Admin Panel</button>
                                </form>
                            </div>
                        </div>
                    <div class="pb-3 px-2">
                        <form method="POST" action="user" class="">
                            <button type="submit" class="btn btn-secondary btn-lg w-100"><i class="fa-regular fa-address-card"></i>Create User</button>
                        </form>
                    </div>
                    {% endif %}
            </div>
        </div>
    </section>
{% endblock %}