{% extends 'layout.html.twig' %}
{% block content %}
    <div class="pt-5">

    </div>
    <section id="dashboard" class="min-vh-100">
        <div class="container shadow-lg">
            <div class="row text-white ">

                <h1 class="display-4 py-2 pt-3 text-center">Select an action...</h1>
                <div class="btn-group">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 mx-auto text-center form">
                        <div class="px-2 mt-5 ">

                            <form method="POST" action="" class="justify-content-center pb-3">
                                <button type="submit" class="btn btn-primary m-2 btn-lg w-100">View All Tickets</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 mx-auto text-center form pb-3">
                        <div class="px-2 mt-5 ">
                            <form method="POST" action="" class="justify-content-center">
                                <button type="submit" class="btn btn-primary m-2 btn-lg w-100">View All Tickets</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-white ">
                <div class="btn-group">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 mx-auto text-center form ">
                    <div class="px-2 mt-5">
                        <form method="POST" action="" class="justify-content-center pb-3">
                            <button type="submit" class="btn btn-primary m-2 btn-lg w-100">View All Tickets</button>
                        </form>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 mx-auto text-center form pb-3">
                    <div class="px-2 mt-5 ">
                        <form method="POST" action="" class="justify-content-center">
                            <button type="submit" class="btn btn-primary m-2 btn-lg w-100">View All Tickets</button>
                        </form>
                    </div>
                </div>
                {% if permission == 2 %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 mx-auto text-center form pb-3">
                        <div class="px-2 mt-5 ">
                            <form method="POST" action="" class="justify-content-center">
                                <button type="submit" class="btn btn-primary m-2 btn-lg w-100">View All Tickets</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>

    </section>

{% endblock %}