{% extends 'layout.html.twig' %}
{% block content %}

<p>{{ session }}</p>

    <nav class="navbar navbar-light bg-light navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand">
                <h1 class="pl-5">Helpdesk System</h1>
            </a>
        <form method="POST" action="logout" class="form-inline my-2 my-lg-0 navbar-right">
            <button class="btn" type="submit">Sign Out</button>
        </form>
        </div>
    </nav>


{% endblock %}