{% extends 'layout.html.twig' %}
{% block content %}

<section id="dashboard" class="min-vh-100">
    <div class="container">
        <div class="row text-white ">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                <h1 class="display-4 py-2 pt-3 text-center">Update your password</h1>
                {% if error == 1 %}
                    <p class="error">There was an error updating, please try again.</p>
                {% endif %}
                <div class="px-2">
                    <form method="POST" action="settings/update_password" class="justify-content-center">
                        <div class="form-group">
                            <label for="password" class="sr-only fsize-20">Current Password</label>
                            <input type="password" name="current_password" class="form-control" required>
                        </div>
                        <div class="pt-4 pb-2 form-group">
                            <label class="sr-only fsize-20">Enter your new password:</label>
                            <input type="password" name="password_first" class="form-control" minlength="8">
                        </div>
                        <div class="pb-2 form-group">
                            <label class="sr-only fsize-20">Re-enter your new password:</label>
                            <input type="password" name="password_second" class="form-control" minlength="8">
                        </div>
                        <label class="pb-2">Please enter it is at least 8 characters, contains lower and upper case with numerical values</label>
                        <div class="btn-group">
                            <button class="btn btn-primary" onclick="history.back()">Back</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}