{% extends 'layout.html.twig' %}
{% block content %}
    <div class="pt-5">
    </div>
    <h1>test</h1>
    <button class="btn btn-primary mt-5" onclick="history.back()">Back</button>

{% endblock %}