{% extends 'layout.html.twig' %}
{% block content %}
    <div class="pt-5">
    </div>
    <section id="view-ticket" class="">
        <div id="cover-caption">
            <div class="container shadow-lg">
                <div class="row text-white ">
                    <div class=" col-md-10 col-sm-6 mx-auto text-center form p-4">
                        <h1 class="display-4 py-2 text-center text-bold ">View Tickets</h1>
                        <div class="px-2 mt-5 ">
                            <table>
                                <tr>
                                    <th>Company</th>
                                    <th>Contact</th>
                                    <th>Country</th>
                                </tr>
                                <tr>
                                    <td>Alfreds Futterkiste</td>
                                    <td>Maria Anders</td>
                                    <td>Germany</td>
                                </tr>
                                <tr>
                                    <td>Centro comercial Moctezuma</td>
                                    <td>Francisco Chang</td>
                                    <td>Mexico</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}